{% extends "::base.html.twig" %}

{% block title %}CLCodersLabBundle:Tweet:showAll{% endblock %}

{% block body %}

    <a href="/new">Dodaj Tweet</a>

    {% for tweet in tweets %}

        <pre>
            {{ tweet.name }}
            {{tweet.text}}
            <a class="btn btn-success" href="/update/{{tweet.id}}">Edytuj</a>
        </pre>
        <hr>

    {% endfor %}

{% endblock %}
